__pycache__/
*.py[cod]
.env
*.log
*.sqlite3
apisys/__pycache__/
apisys/migrations/
authapp/__pycache__/
authapp/migrations/
libraryapp/__pycache__/
libraryapp/migrations/
parseapp/__pycache__/
parseapp/migrations/
